*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #252A3D;
}

.body{
  width: 350px;
  height: 500px;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 15%;
  background-color: white;
  box-shadow: -4px -4px 4px  rgba(255, 255, 255, 0.377);
  
}

h1{
  font-size: 60px;
  text-align: center;
  color: #FFFFFF;
  font-family: cursive;
  margin-top: 10px;
}

/* INPUT AND OUTPUT AREA STYLES */

.body #output{
  padding: 10px 30px;
  font-weight: bolder;
  text-align: right;
}

input{
  width: 100%;
  outline: none;
  height: 50px;
  border: none;
  text-align: right;
  font-size: 40px;
  padding: 20px;
  margin-top: 10px;
}

hr{
  width: 348px;
  margin-top: 10px;
  position: fixed;
  height: 3px;
  background-color: #252A3D;
  border-radius: 10px;
}

/* END INPUT AND OUTPUT AREA STYLES */

/* BUTTONS STYLES */

.buttons{
  margin: 25px 9.4px;
}

.body .buttons button{
  display: inline;
  border: none;
  width: 75px;
  height: 75px;
  margin: 10px 2px;
  border-radius: 50%;
  background-color: #252A3D;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

#operations{
  background-color: orange;
}

/* END BUTTONS STYLES */